global:
  additionalVolumes: ~
  additionalVolumeMounts: ~

image:
  # See: https://github.com/pluralsh/kubernetes-agent/pkgs/container/kas.
  repository: kubernetes-agent
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest
  pullSecrets: []

consoleUrl: "console.plrl-dev-aws.onplural.sh"

nameOverride: ""

fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  runAsUser: 65532

securityContext:
  runAsUser: 65532
  runAsGroup: 65532
  fsGroup: 65532

priorityClassName: ""

extraEnv: []

extraArgs: []

nodeSelector: {}

affinity: {}

tolerations: []

initContainers: []

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

service:
  externalPort: 8150
  internalPort: 8150
  apiInternalPort: 8153
  kubernetesApiPort: 8154
  privateApiPort: 8155
  observabilityPort: 8151
  type: ClusterIP

serviceAccount:
  # Specifies whether a service account should be created.
  create: true
  # Annotations to add to the service account.
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template.
  name: ""

metrics:
  enabled: false
  path: /metrics
  serviceMonitor:
    enabled: false
    additionalLabels: {}
    endpointConfig: {}

replicCount: 1

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUAverageValue: 100m

secrets:
  create: true
  api: ""
  privateapi: ""
  redis: ""

agent:
  inCluster: true
  token: ""
  proxy:
    port: 8180
    podSecurityContext:
      runAsUser: 65532

api:
  port: 8000

ingress:
  tlsSecretName: kas-tls
  dns: kas.local
  kasPath: /ext/kas
  apiPath: /api
  annotations:
    cert-manager.io/issuer: selfsigned

redis:
  enabled: true
  volumePermissions:
    enabled: true
  architecture: standalone
  global:
    security:
      allowInsecureImages: true
  image:
    registry: ghcr.io
    repository: pluralsh/registry/bitnami/redis
    tag: 7.4.2-debian-12-r5
  auth:
    enabled: true
    sentinel: false
  sentinel:
    enabled: false
  master:
    count: 1
  commonConfiguration: |-
    # Enable AOF https://redis.io/topics/persistence#append-only-file
    appendonly yes
    # Disable RDB persistence, AOF persistence already enabled.
    save ""
    # Enable idle client connection timeout (5 minutes)
    timeout 300

# nginx is needed for test to expose ingress to the local network
nginx:
  enabled: false
  controller:
    electionID: ingress-controller-leader
    ingressClassResource:
      name: internal-nginx
      default: false
      controllerValue: k8s.io/internal-ingress-nginx
    service:
      type: NodePort

# the nginx requires cert-manager to handle ingress tls
cert-manager:
  enabled: true
  installCRDs: true
