services:
  api:
    image: api:latest
    container_name: api
    build:
      context: ../../modules
      dockerfile: api/Dockerfile
      args:
        VERSION: ${VERSION:?}
    command:
      --kubeconfig=/kubeconfig
      --metrics-provider=none
    volumes:
      - ${PWD}/modules/kas/.secret/kubeconfig:/kubeconfig
    tmpfs:
      - /tmp
  kas:
    depends_on:
      redis:
        condition: service_started
    image: kas:latest
    container_name: kas
    build:
      context: ../..
      dockerfile: modules/kas/build/docker/kas.Dockerfile
    command:
      - --configuration-file=/config.yaml
    volumes:
      - ${PWD}/modules/kas/.secret:/.secret
      - ${PWD}/modules/kas/build/docker/config.yaml:/config.yaml
    tmpfs:
      - /tmp
    ports:
      - "8154:8154"
      - "8150:8150"
  agent:
    depends_on:
      kas:
        condition: service_started
    image: agentk:latest
    container_name: agentk
    build:
      context: ../..
      dockerfile: modules/kas/build/docker/agentk.Dockerfile
    command:
      - --kas-address=grpc://kas:8150
    environment:
      POD_NAME: agentk
      POD_NAMESPACE: default
      AGENTK_TOKEN: ${AGENTK_TOKEN:?}
      KUBECONFIG: /.secret/kubeconfig
    volumes:
      - ${PWD}/modules/kas/.secret/kubeconfig:/.secret/kubeconfig
    tmpfs:
      - /tmp
  redis:
    image: redis:7.2.2
    container_name: redis
    ports:
      - "6379:6379"

networks:
  default:
    external: true
    name: kind
