name: KAS / CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  GOPATH: /home/runner/go/
  GOPROXY: "https://proxy.golang.org"
  REGISTRY_IMAGE: pluralsh/kubernetes-agent
jobs:
  build-kas:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - run: PATH=$PATH:$GOPATH/bin TARGET_DIRECTORY=. make -C modules/kas build-kas

  build-agentk:
    name: Build agentk
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - run: PATH=$PATH:$GOPATH/bin TARGET_DIRECTORY=. make -C modules/kas build-agentk

  test:
    name: Unit test
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - run: PATH=$PATH:$GOPATH/bin make -C modules/kas test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - uses: golangci/golangci-lint-action@v7
        with:
          working-directory: modules/kas
          version: v2.4.0

  publish:
    name: Publish image
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      packages: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ env.REGISTRY_IMAGE }}
          tags: |
            type=sha
            type=ref,event=pr
            type=ref,event=branch
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: "."
          file: hack/docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64, linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VERSION=v0.0.0-${{ github.sha }}
            GIT_COMMIT=${{ github.sha }}
