name: KAS / CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  GOPATH: /home/runner/go/
  GOPROXY: "https://proxy.golang.org"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - run: PATH=$PATH:$GOPATH/bin TARGET_DIRECTORY=. make -C modules/kas build-kas
  build-agentk:
    name: Build agentk
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - run: PATH=$PATH:$GOPATH/bin TARGET_DIRECTORY=. make -C modules/kas build-agentk
  test:
    name: Unit test
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - run: PATH=$PATH:$GOPATH/bin make -C modules/kas test
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: modules/go.work
          check-latest: true
      - uses: golangci/golangci-lint-action@v7
        with:
          working-directory: modules/kas
          version: v2.4.0
  docker:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/pluralsh/kubernetes-agent
          tags: |
            type=sha
            type=ref,event=pr
            type=ref,event=branch
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: mjgpluralsh
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: "."
          file: hack/docker/Dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GIT_COMMIT=${{ github.sha }}

#  TODO: debug will need to be retested to work with a single image approach
#  publish-debug-docker:
#    name: Build and push debug containers
#    runs-on: ubuntu-latest
#    permissions:
#      contents: 'read'
#      id-token: 'write'
#      packages: 'write'
#    strategy:
#      matrix:
#        image: [kas-debug, agentk-debug]
#        include:
#          - image: kas-debug
#            dockerfile: ./modules/kas/build/docker/kas.debug.Dockerfile
#          - image: agentk-debug
#            dockerfile: ./modules/kas/build/docker/agentk.debug.Dockerfile
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#        with:
#          fetch-depth: 0
#      - name: Docker meta
#        id: meta
#        uses: docker/metadata-action@v5
#        with:
#          images: |
#            ghcr.io/pluralsh/${{ matrix.image }}
#          tags: |
#            type=sha
#            type=ref,event=pr
#            type=ref,event=branch
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v3
#      - name: Login to Container registry
#        uses: docker/login-action@v3
#        with:
#          registry: ghcr.io
#          username: ${{ github.repository_owner }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#      - name: Login to Docker
#        uses: docker/login-action@v3
#        with:
#          username: mjgpluralsh
#          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
#      - name: Build and push
#        uses: docker/build-push-action@v5
#        with:
#          context: "."
#          file: "${{ matrix.dockerfile }}"
#          push: true
#          tags: ${{ steps.meta.outputs.tags }}
#          labels: ${{ steps.meta.outputs.labels }}
#          platforms: linux/amd64,linux/arm64
#          cache-from: type=gha
#          cache-to: type=gha,mode=max
#          build-args: |
#            GIT_COMMIT=${{ github.sha }}
